<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{plantillas/principal :: head}"></head>

<body>
    <header th:replace="~{plantillas/principal :: header}"></header>
    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header text-center">
                        <h4 class="text-primary">Editar Mapa</h4>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/mapas/editar/{id}(id=${mapa.codigoMapa})}" th:object="${mapa}"
                            method="post">
                            <div class="mb-3">
                                <label class="form-label">Coordenadas<span class="text-danger">*</span></label>
                                <input type="text" th:field="*{coordenadas}" class="form-control" required>
                                <div th:if="${#fields.hasErrors('coordenadas')}" class="text-danger">
                                    <p th:errors="*{coordenadas}"></p>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Descripción<span class="text-danger">*</span></label>
                                    <input type="text" th:field="*{descripcion}" class="form-control" required>
                                    <div th:if="${#fields.hasErrors('descripcion')}" class="text-danger">
                                        <p th:errors="*{descripcion}"></p>
                                    </div>
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>
                        </form>
                        <div class="mt-3 text-center">
                            <a th:href="@{/admin/mapas}" class="btn btn-link text-secondary">Volver al listado</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{plantillas/principal :: footer}"></footer>
</body>

</html>